# .gitignore

# Build ve environment dosyaları
*.env
/node_modules/
/target/ # build.rs'nin derleme çıktıları için
/gen/    # Buf tarafından üretilen tüm kodlar

# Python build artefaktları
/dist/
/build/
/*.egg-info

# Diğer sistem dosyaları
.DS_Store