# .gitignore

# Build ve environment dosyaları
*.env
/node_modules/
/target/
# /gen/ DİZİNİ KASITLI OLARAK IGNORE EDİLMİYOR, MEVCUT DESEN BU ŞEKİLDE.

# Build artifact'ları
*.tar.gz
*.zip

# Python build artefaktları
/dist/
/build/
/*.egg-info

# Diğer sistem dosyaları
.DS_Store
.venv/
validation/cpp/build/